@media only screen and (max-width:1440px){
    #story{
        max-width: 1200px;
    }
}

@media only screen and (max-width:1280px){
    .preview{
        left: 3%;
    }
}

@media only screen and (max-width:1024px){
    .preview{
        left: 6%;
    }
    #story{
        max-width: 900px;
    }


    .container{
        margin: 5rem 2rem;
    }

    .heading .first-line{
        gap: 2.5rem;
    }

    .heading{
        margin-top: 50px;
    }

    .heading .first-line h2{
        font-size: 30px;
        letter-spacing: 0.5px;
    }

    .first-line .intro-img .img-holder{
        border-radius: 20px;
        overflow: hidden;
        height: 35rem;
    }

    .first-line .intro-img .img-holder img{
        top: 0;
    }

    .intro-txts .p-1{
        margin-top: 5px;
    }

    .intro-txts .p-2{
        margin-top: 1px;
        line-height: 1.35;
    }

    .intro-txts .letter-btn{
        margin-top: 25px;
    }

    .wrapper .card{
        min-width: 425px;
    }

    .bx .bx-img img{
        top: -5%;
    }
}

@media only screen and (max-width:912px){
    #story{
        max-width: 800px;
    }

    .heading .first-line{
        flex-direction: column;
    }

    .heading .first-line h2 {
        font-size: 50px;
    }

    .intro-txts .p-1{
        font-size: 2.5rem;
    }

    .first-line .intro-img{
        flex-direction: column-reverse;
    }

    .first-line .intro-img .img-holder{
        position: relative;
        left: 18%;
        width: 500px;
        height: 35rem;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .first-line .intro-img .img-holder img{
        top: -15%;
    }

    .first-line .intro-img .btns{
        left: 1.5%;
        gap: 40px;
        margin-bottom: 0;
    }

    .heading .first-line h2{
        font-size: 45px;
    }

    .intro-txts .p-2{
        margin-top: 15px;
        line-height: 1.9;
    }

    .quality-txt{
        margin-top: 5rem;
    }

    .wrapper .card{
        min-width: 385px;
    }

    .readMoreBtn{
        left: 60%;
    }

    .memory-bx{
        margin-top: 50px;
    }

    .bx .bx-img{
        width: 200px;
        height: 170px;
    }

    .bx .bx-img img{
        top: -20%;
    }

    .bx-txt{
        max-width:500px;
    }

    .bx-txt p{
        margin-top: 10px;
        font-size: 19px;
    }

    .media-title{
        font-size: 2.4rem;
    }

    .txt-justify p{
        font-size: 20px;
    }
}

@media only screen and (max-width:853px){
    .preview{
        left: 8%;
    }
    #story{
        max-width: 700px;
    }

    .wrapper{
        max-width: 900px;
    }

    .wrapper .card{
        min-width: 320px;
    }

    button.prev, button.next{
        top: 30%;
    }

    .first-line .intro-img .img-holder{
        left: 12.5%;
    }

    .bx-txt{
        max-width:400px;
        margin-top: 0;
    }

    .media-title{
        font-size: 1.85rem;
    }
}

@media only screen and (max-width:768px){
    .heading, .memories, .qualities, .media{
        margin-bottom: 5rem;
    }

    .preview{
        left: 5%;
    }

    .wrapper .card{
        min-width: 300px;
    }

    .card .card-image .card-tag{
        padding: 5px 8px;
        opacity: 0.8;
    }

    button.next, button.prev{
        top: 25%;
    }

    .bx-txt{
        max-width: 350px;
    }
}

@media only screen and (max-width:540px){
    #story{
        max-width: 650px;
    }

    .preview{
        left: 1%;
    }

    .glow-button{
        margin-left: 30px;
    }

    .container{
        margin: 1rem;
    }

    .heading .first-line{
        margin-top: 100px;
    }

    .heading .first-line h2{
        font-size: 30px;
    }

    .intro-txts span{
        font-size: 29px;
    }

    .intro-txts .p-1{
        font-size: 1.9rem;
    }

    .intro-txts .p-2{
        font-size: 17px;
        line-height: 2.1;
    }

    .intro-txts .letter-btn{
        margin-top: 25px;
    }

    .intro-txts .letter-btn a{
        padding: 10px 20px;
    }

    .intro-img{
        margin-top: -50px;
        line-height: 1.9;
    }

    .first-line .intro-img .btns a{
        padding: 10px 20px;
        font-size: 13px;
    }

    .first-line .intro-img .img-holder{
        width: 310px;
        height: 21rem;
        left: 12.5%;
        top: 0;
    }

    .title-headings{
        font-size: 1.3rem;
    }

    .wrapper .card{
        min-width: 420px;
    }

    button.next, button.prev{
        top: 60%;
        padding: 12px;
    }

    button.prev{
        left: 1%;
    }

    button.next{
        right: 1.5%;
    }

    .text-box{
        font-size: 1rem;
    }

    .readMoreBtn{
        left: 70%;
    }

    .bx{
        padding: 15px;
    }

    .bx .bx-img{
        width: 118px;
        height: 100px;

    }

    .bx-txt{
        max-width: 275px;
        margin-left: 15px;
    }

    .bx-txt h2{
        font-size: 17px;
        letter-spacing: 1px;
    }

    .first-line .intro-img{
        margin-top: 5px;
    }

    .media{
        padding: 1rem;
    }

    .media-title{
        padding: 0;
        margin: 1.4rem 0;
        font-size: 1.2rem;
    }

    .media .medium{
        font-size: 1rem;
    }

    .final-msg h2{
        text-align: center;
        font-size: 1.5rem;
    }

    .final-msg .txt-right{
        font-size: 1.15rem;
        margin-top: 60px;
    }

    .txt-right span{
        font-size: 1.5rem;
    }

    .bx-txt p{
        font-size: 11px;
        line-height: 1.3;
    }

    .final-msg{
        margin-top: 80px;
        padding: 1.5rem;
    }

    .txt-justify p{
        line-height: 1.8;
        margin-top: 30px;
        font-size: 20px;
    }

    .txt-justify span, .txt-justify .last-line{
        font-size: 14px;
        text-align: left;
    }

    .txt-justify .last-txt{
        margin-top: 20px;
        letter-spacing: 1px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:430px){
    .preview{
        left: 0;
    }

    #story{
        max-width: 525px;
    }
    #time{
        gap: 10px;
    }

    .first-line .intro-img .img-holder{
        width: 310px;
        height: 21rem;
        left: 2.5%;
        top: 0;
    }

    .first-line .intro-img .btns a{
        font-size: 0.75rem;
    }


    .wrapper .card{
        min-width: 325px;
    }

    .bx-txt{
        max-width: 160px;
        margin-left: 15px;
    }

    .readMoreBtn{
        left: 55%;
    }

    .media .video-container{
        gap: 50px;
    }
}

@media only screen and (max-width:425px){
    .glow-button {
        padding: 10px 8px;
    }
    .heading .first-line h2{
        font-size: 25px;
    }

    .intro-txts .p-1{
        font-size: 1.7rem;
    }

    .intro-txts .p-2{
        line-height: 1.9;
    }

    .bx-txt p{
        font-size: 10px;
    }

    .txt-justify p{
        line-height: 1.8;
        margin-top: 30px;
        font-size: 15px;
    }
}

@media only screen and (max-width:414px){
    .preview{
        left: 0;
    }
    .intro-txts .p-2{
        font-size: 19px;
        line-height: 1.6;
    }

    .intro-img{
        margin-top: 0;
        gap: 10px;
    }

    .wrapper .card{
        min-width: 310px;
    }


    .title-headings{
        font-size: 1.1rem;
    }

    .media-title{
        font-size: 1rem;
    }

    .media .medium{
        font-size: 0.8rem;
        margin-top: 30px;
    }

    .txt-justify .last-txt{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width:412px){
    .preview{
        left: -1%;
    }

    .first-line .intro-img{
        margin-left: -5px;
    }

    .qualities{
        margin-left: 5px;
    }

    button.next{
        right: 1%;
    }
}

@media only screen and (max-width:390px){

    .preview{
        left: -2%;
    }

    .heading .first-line h2{
        font-size: 25px;
    }

    .intro-txts span{
        font-size: 25px;
    }

    .intro-txts .letter-btn a{
        padding: 10px 15px;
    }

    .intro-img{
        margin-top: -35px;
    }

    .first-line .intro-img .btns a{
        padding: 10px 15px;
        font-size: 12px;
    }

    .first-line .intro-img .img-holder{
        width: 290px;
        height: 21rem;
        left: 1%;
    }

    .wrapper .card{
        min-width: 280px;
    }

    button.next{
        right: 2.5%;
    }

    .title-headings{
        font-size: 1rem;
    }

    .bx .bx-img{
        width: 110px;
        height: 95px;
    }

    .bx-txt{
        max-width: 120px;
        margin-left: 10px;
    }

    .bx-txt h2{
        font-size: 13px;
    }

    .bx-txt p{
        font-size: 8px;
    }

    .media-title{
        padding: 0;
        margin-bottom: 2rem;
    }

    .media .video-container{
        gap: 30px;
    }

    .final-msg{
        padding: 1.5rem;
    }

    .final-msg h2{
        font-size: 1.4rem;
    }

    .final-msg .txt-right{
        font-size: 1.05rem;
        margin-top: 60px;
    }

    .txt-justify .last-txt{
        text-align: left;
        margin-top: 20px;
        letter-spacing: 1px;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width:375px){
    .heading .first-line h2{
        font-size: 25px;
    }

    .intro-txts span{
        font-size: 30px;
    }

    .first-line .intro-img .img-holder{
        left: -4%;
    }

    .first-line .intro-img .btns a {
        padding: 12px 13px;
        font-size: 10px;
    }

    .wrapper .card{
        min-width: 270px;
    }

    .card .card-image .card-tag{
        font-size: 0.6rem;
    }

    .media{
        margin-top: 0;
    }
}

@media only screen and (max-width:360px){
    .wrapper .card{
        min-width: 250px;
    }
}

@media only screen and (max-width:345px){
    .first-line .intro-img .img-holder{
        left: -7.5%;
    }

    .first-line .intro-img .btns a{
        padding: 8px 9px;
    }

    .wrapper .card{
        min-width: 220px;
    }

    .readMoreBtn{
        left: 45%;
        padding: 8px 9px;
    }

    .card .card-profile .card-profile-name{
        font-size: 1rem;
    }
}

@media only screen and (max-width:320px){
    .glow-button{
        padding: 8px 5px;
    }

    .first-line .intro-img .img-holder{
        width: 260px;
    }
    
    .first-line .intro-img .btns a{
        font-size: 0.5rem;
        margin-top: -30px;
    }

    .bx-txt{
        max-width: 80px;
    }
}